<header>
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container-fluid">
            <a class="navbar-brand " href="#"><img class="rounded-circle" src="https://cdn.vectorstock.com/i/preview-1x/75/62/letter-f-and-i-fi-logo-icon-design-vector-35107562.jpg" alt="" width="50" height="50"></a>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item mx-2"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item mx-2"><a href="/products" class="nav-link">Products</a></li>
                <li class="nav-item mx-2"><a href="/admin/admin-panel" class="nav-link">Admin Pannel</a></li>
                <li class="nav-item mx-2"><a href="" class="nav-link">Cart</a></li>
                <li class="nav-item mx-2"><a href="" class="nav-link">Orders</a></li>
            </ul>   
        </div>
    </nav>
</header>

